{% extends 'main.html' %}


{% block content %}
<h1> {{coderoom.name}}</h1>
<p>{{coderoom.description}}</p>

<div class = "comment-wrapper">
    <h3>Conversation</h3>
    <hr>

    {%for comment in comments %}
    <div>
        <small> @{{comment.user}} {{comment.created|timesince}}</small>
        <p>{{comment.body}}</p>
    </div>
    {%endfor%}
</div>

<form action>

</form>

{% if request.user.is_authenticated%}
<div>
    <form method = "POST" action = "" >
        {% csrf_token %}
        <input type = "text" name = "body" placeholder = "Write your message here">
    </form>
</div>
{%endif%}

{% endblock content%}

